<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>
	<div>
		<h1>Welcome Home! <%= user.mname %></h1> 		
	</div>

	<a href="/logout"> logout</a><br>


	Name:<%= user.musername %>    <br>
	Id: <%= user.mid %> <br>
	Password: <%= user.mpassword %>
</body>
</html>